body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-size: 70px;
	margin: 0px;
	padding: 0;
	color: #DC143C;

}
h2 {
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-size: 30px;
	font-weight: bold;
	margin: 0 0 40px 0;
	color: #DC143C;
}

.nomargin {
	margin-bottom: 0px;
}

/* insde the About page */
.textAbout {
	font-family: 'Mogra', cursive;
	font-size: 30px;
	width: 400px;
	text-align: center;
	margin: auto;
	color: #FFFFFF;
	position: relative;
	/*right: 43px;*/
	top: 0px;

}


/* inside the Join Us page*/

.newsletter {
	text-align: center;
}

.containsForm {
	position: relative;
	margin: auto;
}

.emailAddress {
	text-align: center;
	padding: 10px;
	background-color: #DC143C;
	opacity: 0.7;
	border-radius: 5px;
	height: 40px;
	width: 300px;
	font-family: 'Mogra', cursive;
	font-size: 20px;
}

.OkButton {
	text-align: center;
	padding: 10px;
	background-color: #DC143C;
	border-radius: 5px;
	height: 65px;
	width: 65px;
	font-family: 'Mogra', cursive;
	font-size: 20px;
	color: #ddd;
}
.title {
	background-image: url("pie.jpg");
}

.lesspadding {
	padding-top: 0px !important;
}
/*
#lovingHut {
	position: relative;
	left: 50%;
	bottom: 200%;
}

.loving {
	font-family: 'Mogra', cursive;
	font-size: 20px;
	color: #ddd;
}

#grocery {
	position: relative;
	margin: auto;
}

.greensmiths {
	font-family: 'Mogra', cursive;
	font-size: 20px;
	color: #ddd;
}

*/
a {
	text-decoration: none;
	color: black;
}

.inline div{
	display: inline-block;
	padding-top: 60px;
	padding-left: 20px;
}

/*Inside the home page */

div#About ul li {
	text-align: left;
}
div#Good_Adresses ul li {
	text-align: right;
}

body {
  background-image: url("pie.png");
 
}




#Home {
	display: block;
	font-family: 'Homemade Apple', cursive;
	font-size: 50px;
	background-color: #DC143C;
	border-radius: 1000%;
	margin-bottom: 40px;
	color: #FFFFFF;
}

#About {
	margin: auto;
	font-family: 'Homemade Apple', cursive;
	padding: 0px 10px 0px 10px;
	font-size: 30px;
	background-color: #DC143C;
	border-radius: 100%;
	display: block;
	color: #FFFFFF;
	margin-bottom: 40px;
}

#Good {
	font-family: 'Homemade Apple', cursive;
	padding: 0px 10px 0px 10px;
	font-size: 30px;
	font-weight: bold;
	background-color: #DC143C;
	border-radius: 100%;
	display: block;
	color: red;
	margin-bottom: 40px;
}

#Recipes {
	margin: auto;
	font-family: 'Homemade Apple', cursive;
	padding: 0px 10px 0px 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: #DC143C;
	border-radius: 100%;
	display: block;
	color: #FFFFFF;
	margin-bottom: 40px;
}

#Join {
	font-family: 'Homemade Apple', cursive;
	padding: 0px 10px 0px 10px;
	font-size: 30px;
	font-weight: bold;
	background-color: #DC143C;
	border-radius: 100%;
	display: block;
	color: #FFFFFF;
	margin-bottom: 40px;
}

.btn-group-vertical {
	vertical-align: top;
}
/* Sidebar wrapper*/

#sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 0;
	height: 100%;
	overflow-y: hidden;
	background-color: #DC143C;
	opacity: 0.9;
}

/* Main content */
#main-content-wrapper {
	width: 100%;
	position: absolute;
}

.navbar-text {
	position: fixed;
	left: 90%;
	bottom: 5%;
}
/* Change the width of the sidebar to dispaly it */
#wrapper.menuDisplayed #sidebar-wrapper {
	width: 250px;
}

#wrapper.menuDisplayed #main-content-wrapper {
	/* width: 250px; */
} 

/*Sidebar styling */
.sidebar-nav {
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #ddd;
}

#mainTitleABout {
	font-family: 'Homemade Apple', cursive;
	font-size: 40px;
	padding: 30px;
}


/* style of the menu buttons */
#styleAboutHome {
	font-family: 'Homemade Apple', cursive;
	font-size: 40px;
	padding: 30px;
}

#styleAboutAbout {
	font-family: 'Homemade Apple', cursive;
	font-size: 40px;
	padding: 30px;
}

#styleAboutGood {
	font-family: 'Homemade Apple', cursive;
	font-size: 40px;
	padding: 30px;
}

#styleAboutRecipes {
	font-family: 'Homemade Apple', cursive;
	font-size: 40px;
	padding: 20px;
}

#styleAboutJoin {
	font-family: 'Homemade Apple', cursive;
	font-size: 40px;
	padding: 30px;
}

#menu-toggle {
	font-family: 'Homemade Apple', cursive;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	background-color: #DC143C;
	border-color: #DC143C;
	border-radius: 200%;
	position: absolute;
    top: 25px;
    right: 25px;
    color: #FFFFFF;

}

/* inside the join us page */

.suscribeText {
	padding: 50px;
	font-family: 'Mogra', cursive;
	margin: auto;
	font-size: 40px;
	font-weight: bold;
	color: #DC143C;
	width: 400px;
	text-align: center;
	position: relative;
	top: 300px;

	
}


#TitleAbout {
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-size: 70px;
	font-weight: bold;
	margin: 0px;
	padding: 0;
	color: #DC143C;
	left: 500px;
}

/*title in the recipe page */

.title2 {
	font-size: 70px;
	font-weight: bold;
	position: relative;
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	color: #DC143C;
	}
/*
.title-text {
	font-family: 'Homemade Apple', cursive;
	font-weight: bold;
	color: #DC143C;
}
*/

.londonEyeContainer {
	width: 70%;
	display: inline-block;
}

.containsButtons {
	margin-top: 13vh;
	width: 30%;
	display: inline-block;
	vertical-align: top;
}




/*London eye */

@keyframes wheel {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stand {
  100% {
    transform: rotate(-360deg);
  }
}
.londoneye {
  position: relative;
  margin: 15vh auto;
  width: 26em;
  height: 26em;
  border-radius: 50%;
  border: 1.73333em solid transparent;
  box-shadow: 0 0 0 0.43333em #fff inset, 0 0 0 0.43333em #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(11.25deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(22.5deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(33.75deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(45deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(56.25deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(67.5deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(78.75deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(90deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(101.25deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(112.5deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(123.75deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(135deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(146.25deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(157.5deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%), linear-gradient(168.75deg, rgba(0, 0, 0, 0) 49.7%, #cccccc 49.7%, #cccccc 50.3%, rgba(0, 0, 0, 0) 50.3%);
  animation: wheel 60s linear infinite;
}
.londoneye::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  background: #fff;
  width: 1.3em;
  height: 1.3em;
  box-shadow: 0em 15.6em 0 0 #fff, 3.04341em 15.30025em 0 0 #fff, 5.96986em 14.41252em 0 0 #fff, 8.6669em 12.97093em 0 0 #fff, 11.03087em 11.03087em 0 0 #fff, 12.97093em 8.6669em 0 0 #fff, 14.41252em 5.96986em 0 0 #fff, 15.30025em 3.04341em 0 0 #fff, 15.6em 0em 0 0 #fff, 15.30025em -3.04341em 0 0 #fff, 14.41252em -5.96986em 0 0 #fff, 12.97093em -8.6669em 0 0 #fff, 11.03087em -11.03087em 0 0 #fff, 8.6669em -12.97093em 0 0 #fff, 5.96986em -14.41252em 0 0 #fff, 3.04341em -15.30025em 0 0 #fff, 0em -15.6em 0 0 #fff, -3.04341em -15.30025em 0 0 #fff, -5.96986em -14.41252em 0 0 #fff, -8.6669em -12.97093em 0 0 #fff, -11.03087em -11.03087em 0 0 #fff, -12.97093em -8.6669em 0 0 #fff, -14.41252em -5.96986em 0 0 #fff, -15.30025em -3.04341em 0 0 #fff, -15.6em 0em 0 0 #fff, -15.30025em 3.04341em 0 0 #fff, -14.41252em 5.96986em 0 0 #fff, -12.97093em 8.6669em 0 0 #fff, -11.03087em 11.03087em 0 0 #fff, -8.6669em 12.97093em 0 0 #fff, -5.96986em 14.41252em 0 0 #fff, -3.04341em 15.30025em 0 0 #fff;
}

.stand {
  position: absolute;
  top: 13em;
  right: 0;
  left: 0;
  width: 17.33333em;
  margin: auto;
  height: 16.25em;
  border-bottom: 2.6em solid #fff;
  transform-origin: 50% 0%;
  animation: stand 60s infinite linear;
}
.stand::before, .stand::after {
  content: '';
  position: absolute;
  top: -0.86667em;
  width: 1.3em;
  height: 18.57143em;
  background: #fff;
  border-radius: 1.3em;
}
.stand::before {
  left: 5em;
  transform: rotate(20deg);
}
.stand::after {
  right: 5em;
  transform: rotate(-20deg);
}


